* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #xbox-x1,
  #xbox-b,
  #xbox-o,
  #xbox-x2 {
    fill-opacity: 0;
    stroke-dasharray: 1 1000;
    stroke-width: 0;
    animation: xbox-text 7s ease .4s forwards;
  }
  
  @keyframes xbox-text {
    0% {
      fill-opacity: 0;
      stroke-dasharray: 1 1000;
      stroke-dashoffset: 0;
      stroke-width: 0;
      opacity: 1;
      transform: translate3d(0,-110px,0);
    }
    30% {
      fill-opacity: 0;
      stroke-dasharray: 150 0;
      stroke-dashoffset: 0;
      stroke-width: 1;
      opacity: 1;
      transform: translate3d(0,-110px,0);
    }
    60%, 90% {
      fill-opacity: 1;
      stroke-dasharray: 150 0;
      stroke-dashoffset: 0;
      stroke-width: 0;
      opacity: 1;
      transform: translate3d(0,-110px,0);
    }
    100% {
      fill-opacity: 0;
      stroke-dasharray: 150 0;
      stroke-dashoffset: 0;
      stroke-width: 0;
      opacity: 0;
      transform: translate3d(0,-110px,0);
    }
  }
  
  #xbox-logo {
    fill-opacity: 0;
    stroke-dasharray: 1 1000;
    stroke-dashoffset: 0;
    opacity: 0;
    animation: xbox-logo 7s ease 7s forwards;
  }
  
  @keyframes xbox-logo {
    0% {
      fill-opacity: 0;
      stroke-dasharray: 1 1000;
      stroke-dashoffset: 0;
      stroke-width: 0;
      opacity: 1;
      transform: translate3d(0,70px,0);
    }
    70% {
      fill-opacity: 0;
      stroke-dasharray: 150 0;
      stroke-dashoffset: 0;
      stroke-width: 1;
      opacity: 1;
      transform: translate3d(0,70px,0);
    }
    100% {
      fill-opacity: 1;
      stroke-dasharray: 150 0;
      stroke-dashoffset: 0;
      stroke-width: 0;
      opacity: 1;
      transform: translate3d(0,70px,0);
    }
  }
  
  svg {
    filter: drop-shadow(0 0 0 rgba(247, 247, 247, 0.6)) drop-shadow(0 0 0 rgba(0, 0, 0, 0.95));
    animation: xbox-shadow 12s ease 0s forwards;
  }
  
  @keyframes xbox-shadow {
    0%,20% {
        filter: drop-shadow(0 0 0 rgba(247, 247, 247, 0.6))
        drop-shadow(0 0 0 rgba(0, 0, 0, 0.95));
    }

    40%,50% {
        filter: drop-shadow(0px 0px 250px rgba(247, 247, 247, 0.6))
        drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.95));
    }

    75% {
        filter: drop-shadow(0 0 0 rgba(247, 247, 247, 0.6))
        drop-shadow(0 0 0 rgba(0, 0, 0, 0.95));
    }

    100% {
        filter: drop-shadow(0px 0px 250px rgba(247, 247, 247, 0.6))
        drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.95));
    }
}
